{
  "swagger": "2.0",
  "info": {
    "title": "Strava API v3",
    "description": "The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.",
    "version": "3.0.0"
  },
  "host": "www.strava.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v3",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "strava_oauth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.strava.com/api/v3/oauth/authorize",
      "tokenUrl": "https://www.strava.com/api/v3/oauth/token",
      "scopes": {
        "read": "Read public segments, public routes, public profile data, public posts, public events, club feeds, and leaderboards",
        "read_all": "Read private routes, private segments, and private events for the user",
        "profile:read_all": "Read all profile information even if the user has set their profile visibility to Followers or Only You",
        "profile:write": "Update the user's weight and Functional Threshold Power (FTP), and access to star or unstar segments on their behalf",
        "activity:read": "Read the user's activity data for activities that are visible to Everyone and Followers, excluding privacy zone data",
        "activity:read_all": "The same access as activity:read, plus privacy zone data and access to read the user's activities with visibility set to Only You",
        "activity:write": "Access to create manual activities and uploads, and access to edit any activities that are visible to the app, based on activity read access level"
      }
    }
  },
  "security": [
    {
      "strava_oauth": [
        "public"
      ]
    }
  ],
  "parameters": {
    "page": {
      "name": "page",
      "in": "query",
      "description": "Page number. Defaults to 1.",
      "type": "integer"
    },
    "perPage": {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page. Defaults to 30.",
      "type": "integer",
      "default": 30
    }
  },
  "paths": {
    "/athletes/{id}/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get Athlete Stats",
        "description": "Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the athlete. Must match the authenticated athlete.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "Athletes"
        ],
        "responses": {
          "200": {
            "description": "Activity stats of the athlete.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/activity_stats.json#/ActivityStats"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      }
    },
    "/athlete": {
      "get": {
        "operationId": "getLoggedInAthlete",
        "summary": "Get Authenticated Athlete",
        "description": "Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.",
        "tags": [
          "Athletes"
        ],
        "responses": {
          "200": {
            "description": "Profile information for the authenticated athlete.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/athlete.json#/DetailedAthlete"
            },
            "examples": {
              "application/json": {
                "id": 1234567890987654321,
                "username": "marianne_t",
                "resource_state": 3,
                "firstname": "Marianne",
                "lastname": "Teutenberg",
                "city": "San Francisco",
                "state": "CA",
                "country": "US",
                "sex": "F",
                "premium": true,
                "created_at": "2017-11-14T02:30:05Z",
                "updated_at": "2018-02-06T19:32:20Z",
                "badge_type_id": 4,
                "profile_medium": "https://xxxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/medium.jpg",
                "profile": "https://xxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/large.jpg",
                "friend": null,
                "follower": null,
                "follower_count": 5,
                "friend_count": 5,
                "mutual_friend_count": 0,
                "athlete_type": 1,
                "date_preference": "%m/%d/%Y",
                "measurement_preference": "feet",
                "clubs": [],
                "ftp": null,
                "weight": 0,
                "bikes": [
                  {
                    "id": "b12345678987655",
                    "primary": true,
                    "name": "EMC",
                    "resource_state": 2,
                    "distance": 0
                  }
                ],
                "shoes": [
                  {
                    "id": "g12345678987655",
                    "primary": true,
                    "name": "adidas",
                    "resource_state": 2,
                    "distance": 4904
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      },
      "put": {
        "operationId": "updateLoggedInAthlete",
        "summary": "Update Athlete",
        "description": "Update the currently authenticated athlete. Requires profile:write scope.",
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "Athletes"
        ],
        "parameters": [
          {
            "name": "weight",
            "in": "path",
            "description": "The weight of the athlete in kilograms.",
            "required": true,
            "type": "number",
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile information for the authenticated athlete.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/athlete.json#/DetailedAthlete"
            },
            "examples": {
              "application/json": {
                "id": 12345678987655098765444,
                "username": "marianne_v",
                "resource_state": 3,
                "firstname": "Marianne",
                "lastname": "V.",
                "city": "San Francisco",
                "state": "CA",
                "country": "US",
                "sex": "F",
                "premium": true,
                "created_at": "2017-11-14T02:30:05Z",
                "updated_at": "2018-02-06T19:32:20Z",
                "badge_type_id": 4,
                "profile_medium": "https://xxxxxx.cloudfront.net/pictures/athletes/1234567898765509876/1234567898765509876/2/medium.jpg",
                "profile": "https://xxxxx.cloudfront.net/pictures/athletes/1234567898765509876/1234567898765509876/2/large.jpg",
                "friend": null,
                "follower": null,
                "follower_count": 5,
                "friend_count": 5,
                "mutual_friend_count": 0,
                "athlete_type": 1,
                "date_preference": "%m/%d/%Y",
                "measurement_preference": "feet",
                "clubs": [],
                "ftp": null,
                "weight": 0,
                "bikes": [
                  {
                    "id": "b1234567898765509876",
                    "primary": true,
                    "name": "EMC",
                    "resource_state": 2,
                    "distance": 0
                  }
                ],
                "shoes": [
                  {
                    "id": "g1234567898765509876",
                    "primary": true,
                    "name": "adidas",
                    "resource_state": 2,
                    "distance": 4904
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      }
    },
    "/activities": {
      "post": {
        "operationId": "createActivity",
        "summary": "Create an Activity",
        "description": "Creates a manual activity for an athlete, requires activity:write scope.",
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "description": "The name of the activity.",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "Type of activity. For example - Run, Ride etc.",
            "type": "string",
            "required": false
          },
          {
            "name": "sport_type",
            "in": "formData",
            "description": "Sport type of activity. For example - Run, MountainBikeRide, Ride, etc.",
            "type": "string",
            "required": true
          },
          {
            "name": "start_date_local",
            "in": "formData",
            "description": "ISO 8601 formatted date time.",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "name": "elapsed_time",
            "in": "formData",
            "description": "In seconds.",
            "type": "integer",
            "required": true
          },
          {
            "name": "description",
            "in": "formData",
            "description": "Description of the activity.",
            "type": "string",
            "required": false
          },
          {
            "name": "distance",
            "in": "formData",
            "description": "In meters.",
            "type": "number",
            "format": "float",
            "required": false
          },
          {
            "name": "trainer",
            "in": "formData",
            "description": "Set to 1 to mark as a trainer activity.",
            "type": "integer",
            "required": false
          },
          {
            "name": "commute",
            "in": "formData",
            "description": "Set to 1 to mark as commute.",
            "type": "integer",
            "required": false
          }
        ],
        "tags": [
          "Activities"
        ],
        "responses": {
          "201": {
            "description": "The activity's detailed representation.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/activity.json#/DetailedActivity"
            },
            "examples": {
              "application/json": {
                "id": 123456778928065,
                "resource_state": 3,
                "external_id": null,
                "upload_id": null,
                "athlete": {
                  "id": 12343545645788,
                  "resource_state": 1
                },
                "name": "Chill Day",
                "distance": 0,
                "moving_time": 18373,
                "elapsed_time": 18373,
                "total_elevation_gain": 0,
                "type": "Ride",
                "sport_type": "MountainBikeRide",
                "start_date": "2018-02-20T18:02:13Z",
                "start_date_local": "2018-02-20T10:02:13Z",
                "timezone": "(GMT-08:00) America/Los_Angeles",
                "utc_offset": -28800,
                "achievement_count": 0,
                "kudos_count": 0,
                "comment_count": 0,
                "athlete_count": 1,
                "photo_count": 0,
                "map": {
                  "id": "a12345678908766",
                  "polyline": null,
                  "resource_state": 3
                },
                "trainer": false,
                "commute": false,
                "manual": true,
                "private": false,
                "flagged": false,
                "gear_id": "b453542543",
                "from_accepted_tag": null,
                "average_speed": 0,
                "max_speed": 0,
                "device_watts": false,
                "has_heartrate": false,
                "pr_count": 0,
                "total_photo_count": 0,
                "has_kudoed": false,
                "workout_type": null,
                "description": null,
                "calories": 0,
                "segment_efforts": []
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "operationId": "getActivityById",
        "summary": "Get Activity",
        "description": "Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the activity.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "include_all_efforts",
            "in": "query",
            "description": "To include all segments efforts.",
            "type": "boolean"
          }
        ],
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "The activity's detailed representation.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/activity.json#/DetailedActivity"
            },
            "examples": {
              "application/json": {
                "id": 12345678987654321,
                "resource_state": 3,
                "external_id": "garmin_push_12345678987654321",
                "upload_id": 98765432123456789,
                "athlete": {
                  "id": 134815,
                  "resource_state": 1
                },
                "name": "Happy Friday",
                "distance": 28099,
                "moving_time": 4207,
                "elapsed_time": 4410,
                "total_elevation_gain": 516,
                "type": "Ride",
                "sport_type": "MountainBikeRide",
                "start_date": "2018-02-16T14:52:54Z",
                "start_date_local": "2018-02-16T06:52:54Z",
                "timezone": "(GMT-08:00) America/Los_Angeles",
                "utc_offset": -28800,
                "start_latlng": [
                  37.83,
                  -122.26
                ],
                "end_latlng": [
                  37.83,
                  -122.26
                ],
                "achievement_count": 0,
                "kudos_count": 19,
                "comment_count": 0,
                "athlete_count": 1,
                "photo_count": 0,
                "map": {
                  "id": "a1410355832",
                  "polyline": "ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@Iy@GWQ_@WSSGg@AkABQB_Ap@_A^o@b@Q@o@IS@OHi@n@OFS?OI}@iAQMQGQC}@DOIIUK{@IUOMyBo@kASOKIQCa@L[|AgATWN[He@?QKw@FOPCh@Fx@l@TDLELKl@aAHIJEX@r@ZTDV@LENQVg@RkA@c@MeA?WFOPMf@Ej@Fj@@LGHKDM?_@_@iC?a@HKRIl@NT?FCHMFW?YEYGWQa@GYBiAIq@Gq@L_BHSHK|@WJETSLQZs@z@_A~@uA^U`@G\\CRB\\Tl@p@Th@JZ^bB`@lAHLXVLDP?LGFSKiDBo@d@wBVi@R]VYVE\\@`@Lh@Fh@CzAk@RSDQA]GYe@eAGWSiBAWBWBIJORK`@KPOPSTg@h@}Ad@o@F[E_@EGMKUGmAEYGMIMYKs@?a@J}@@_BD_@HQJMx@e@LKHKHWAo@UoAAWFmAH}@?w@C[YwAAc@HSNM|Ao@rA}@zAq@`@a@j@eAxAuBXQj@MXSR[b@gAFg@?YISOGaAHi@Xw@v@_@d@WRSFqARUHQJc@d@m@`A[VSFUBcAEU@WFULUPa@v@Y~@UrBc@dBI~@?l@P~ABt@N`HEjA]zAEp@@p@TrBCl@CTQb@k@dAg@jAU^KJYLK@k@A[Js@d@a@b@]RgBl@[FMAw@[]G]?m@D_@F]P[Vu@t@[TMF_@Do@E_@@q@P]PWZUZw@vAkAlAGJOj@IlAMd@OR{@p@a@d@sBpD]v@a@`Aa@n@]TODgBVk@Pe@^cBfBc@Rs@La@RSPm@|@wCpDS^Wp@QZML{@l@qBbCYd@k@lAIVCZBZNTr@`@RRHZANIZQPKDW@e@CaASU?I@YTKRQx@@\\VmALYRQLCL?v@P|@D\\GJEFKDM@OCa@COOYIGm@YMUCM@]JYr@uAx@kAt@}@jAeAPWbAkBj@s@bAiAz@oAj@m@VQlAc@VQ~@aA`Au@p@Q`AIv@MZORUV_@p@iB|AoCh@q@dAaANUNWH[N{AJ[^m@t@_Av@wA\\a@`@W`@In@Al@B^E`@Wl@u@\\[VQ\\K`@Eb@?R@dAZP@d@CRExAs@\\Yt@{@LG\\MjAATINOXo@d@kAl@_AHYBOCe@QiBCm@Fq@\\wADo@AyGEeBWuB@YHu@Tu@Lk@VcCTo@d@aA\\WJE`@G~@FP?VI\\U~@sANO`@SfAMj@U\\WjAsAXS`@UNENALBHFFL?^Ml@Uj@]b@q@RUJSPkChEc@XcAb@sA|@]PaA\\OJKNER?TDTNj@Jn@?p@OfC@ZR`B@VCV_@n@{@l@WbACv@OlABnAPl@LNNHbBBNBLFFJ@^GLg@x@i@|AMP[X}@XOJKPET?l@LhAFXp@fBDRCd@S\\_@Ps@PQ@}A]S?QDe@V]b@MR[fAKt@ErAF~CANILYDKGIKe@{@Yy@e@sB[gA[c@e@YUCU?WBUHUNQPq@`AiArAMV[^e@Zc@JQJKNMz@?r@Bb@PfAAfA@VVbADn@E`@KHSEe@SMAKDKFM\\^dDCh@m@LoAQ_@@MFOZLfBEl@QbASd@KLQBOAaAc@QAQ@QHc@v@ONMJOBOCg@c@]O[EMBKFGL?RHv@ARERGNe@h@{@h@WVGNDt@JLNFPFz@LdBf@f@PJNHPF`ADPJJJDl@I`@B^Tp@bALJNDNALIf@i@PGPCt@DNE`@Uv@[dAw@RITGRCtAARBPJLPJRZxB?VEX_@vAAR?RDNHJJBh@UnBm@h@IRDRJNNJPNbBFRJLLBLCzAmAd@Uf@Gf@?P@PFJNHPFTH`BDTHNJJJ@LG`@m@^YPER@RDPHNNJRLn@HRLN^VNPHTFX@\\UlDFb@FHh@NP@HKPsB?}ASkCQ{@[y@q@}@cA{@KOCQDa@t@{CFGJCf@Nl@ZtA~@r@p@`@h@rAxBd@rA\\fARdAPjANrB?f@AtBCd@QfBkAjJOlBChA?rBFrBNlBdAfKFzAC~@Iz@Mz@Sv@s@jBmAxBi@hAWt@Sv@Qx@O`BA`@?dAPfBVpAd@`BfBlFf@fBdA~Cr@pAz@fApBhBjAt@H?IL?FBFJLx@^lHvDvh@~XnElCbAd@pGhDbAb@nAr@`Ad@`GhDnBbAxCbBrWhNJJDPARGP_@t@Qh@]pAUtAoA`Ny@jJApBBNFLJFJBv@Hb@HBF?\\",
                  "resource_state": 3,
                  "summary_polyline": "ki{eFvqfiVsBmA`Feh@qg@iX`B}JeCcCqGjIq~@kf@cM{KeHeX`@_GdGkSeBiXtB}YuEkPwFyDeAzAe@pC~DfGc@bIOsGmCcEiD~@oBuEkFhBcBmDiEfAVuDiAuD}NnDaNiIlCyDD_CtJKv@wGhD]YyEzBo@g@uKxGmHpCGtEtI~AuLrHkAcAaIvEgH_EaDR_FpBuBg@sNxHqEtHgLoTpIiCzKNr[sB|Es\\`JyObYeMbGsMnPsAfDxAnD}DBu@bCx@{BbEEyAoD`AmChNoQzMoGhOwX|[yIzBeFKg[zAkIdU_LiHxK}HzEh@vM_BtBg@xGzDbCcF~GhArHaIfByAhLsDiJuC?_HbHd@nL_Cz@ZnEkDDy@hHwJLiCbIrNrIvN_EfAjDWlEnEiAfBxDlFkBfBtEfDaAzBvDKdFx@|@XgJmDsHhAgD`GfElEzOwBnYdBxXgGlSc@bGdHpW|HdJztBnhAgFxc@HnCvBdA"
                },
                "trainer": false,
                "commute": false,
                "manual": false,
                "private": false,
                "flagged": false,
                "gear_id": "b12345678987654321",
                "from_accepted_tag": false,
                "average_speed": 6.679,
                "max_speed": 18.5,
                "average_cadence": 78.5,
                "average_temp": 4,
                "average_watts": 185.5,
                "weighted_average_watts": 230,
                "kilojoules": 780.5,
                "device_watts": true,
                "has_heartrate": false,
                "max_watts": 743,
                "elev_high": 446.6,
                "elev_low": 17.2,
                "pr_count": 0,
                "total_photo_count": 2,
                "has_kudoed": false,
                "workout_type": 10,
                "suffer_score": null,
                "description": "",
                "calories": 870.2,
                "segment_efforts": [
                  {
                    "id": 12345678987654321,
                    "resource_state": 2,
                    "name": "Tunnel Rd.",
                    "activity": {
                      "id": 12345678987654321,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 134815,
                      "resource_state": 1
                    },
                    "elapsed_time": 2038,
                    "moving_time": 2038,
                    "start_date": "2018-02-16T14:56:25Z",
                    "start_date_local": "2018-02-16T06:56:25Z",
                    "distance": 9434.8,
                    "start_index": 211,
                    "end_index": 2246,
                    "average_cadence": 78.6,
                    "device_watts": true,
                    "average_watts": 237.6,
                    "segment": {
                      "id": 673683,
                      "resource_state": 2,
                      "name": "Tunnel Rd.",
                      "activity_type": "Ride",
                      "distance": 9220.7,
                      "average_grade": 4.2,
                      "maximum_grade": 25.8,
                      "elevation_high": 426.5,
                      "elevation_low": 43.4,
                      "start_latlng": [
                        37.8346153,
                        -122.2520872
                      ],
                      "end_latlng": [
                        37.8476261,
                        -122.2008944
                      ],
                      "climb_category": 3,
                      "city": "Oakland",
                      "state": "CA",
                      "country": "United States",
                      "private": false,
                      "hazardous": false,
                      "starred": false
                    },
                    "kom_rank": null,
                    "pr_rank": null,
                    "achievements": [],
                    "hidden": false
                  }
                ],
                "splits_metric": [
                  {
                    "distance": 1001.5,
                    "elapsed_time": 141,
                    "elevation_difference": 4.4,
                    "moving_time": 141,
                    "split": 1,
                    "average_speed": 7.1,
                    "pace_zone": 0
                  }
                ],
                "laps": [
                  {
                    "id": 4479306946,
                    "resource_state": 2,
                    "name": "Lap 1",
                    "activity": {
                      "id": 1410355832,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 134815,
                      "resource_state": 1
                    },
                    "elapsed_time": 1573,
                    "moving_time": 1569,
                    "start_date": "2018-02-16T14:52:54Z",
                    "start_date_local": "2018-02-16T06:52:54Z",
                    "distance": 8046.72,
                    "start_index": 0,
                    "end_index": 1570,
                    "total_elevation_gain": 276,
                    "average_speed": 5.12,
                    "max_speed": 9.5,
                    "average_cadence": 78.6,
                    "device_watts": true,
                    "average_watts": 233.1,
                    "lap_index": 1,
                    "split": 1
                  }
                ],
                "gear": {
                  "id": "b12345678987654321",
                  "primary": true,
                  "name": "Tarmac",
                  "resource_state": 2,
                  "distance": 32547610
                },
                "partner_brand_tag": null,
                "photos": {
                  "primary": {
                    "id": null,
                    "unique_id": "3FDGKL3-204E-4867-9E8D-89FC79EAAE17",
                    "urls": {
                      "100": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-128x96.jpg",
                      "600": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-768x576.jpg"
                    },
                    "source": 1
                  },
                  "use_primary_photo": true,
                  "count": 2
                },
                "highlighted_kudosers": [
                  {
                    "destination_url": "strava://athletes/12345678987654321",
                    "display_name": "Marianne V.",
                    "avatar_url": "https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345678987654321/12345678987654321/3/medium.jpg",
                    "show_name": true
                  }
                ],
                "hide_from_home": false,
                "device_name": "Garmin Edge 1030",
                "embed_token": "18e4615989b47dd4ff3dc711b0aa4502e4b311a9",
                "segment_leaderboard_opt_out": false,
                "leaderboard_opt_out": false
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      },
      "put": {
        "operationId": "updateActivityById",
        "summary": "Update Activity",
        "description": "Updates the given activity that is owned by the authenticated athlete. Requires activity:write. Also requires activity:read_all in order to update Only Me activities",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the activity.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/activity.json#/UpdatableActivity"
            }
          }
        ],
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "The activity's detailed representation.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/activity.json#/DetailedActivity"
            },
            "examples": {
              "application/json": {
                "id": 12345678987654321,
                "resource_state": 3,
                "external_id": "garmin_push_12345678987654321",
                "upload_id": 98765432123456789,
                "athlete": {
                  "id": 134815,
                  "resource_state": 1
                },
                "name": "Happy Friday",
                "distance": 28099,
                "moving_time": 4207,
                "elapsed_time": 4410,
                "total_elevation_gain": 516,
                "type": "Ride",
                "sport_type": "MountainBikeRide",
                "start_date": "2018-02-16T14:52:54Z",
                "start_date_local": "2018-02-16T06:52:54Z",
                "timezone": "(GMT-08:00) America/Los_Angeles",
                "utc_offset": -28800,
                "start_latlng": [
                  37.83,
                  -122.26
                ],
                "end_latlng": [
                  37.83,
                  -122.26
                ],
                "location_city": null,
                "location_state": null,
                "location_country": "United States",
                "achievement_count": 0,
                "kudos_count": 19,
                "comment_count": 0,
                "athlete_count": 1,
                "photo_count": 0,
                "map": {
                  "id": "a1410355832",
                  "polyline": "ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@Iy@GWQ_@WSSGg@AkABQB_Ap@_A^o@b@Q@o@IS@OHi@n@OFS?OI}@iAQMQGQC}@DOIIUK{@IUOMyBo@kASOKIQCa@L[|AgATWN[He@?QKw@FOPCh@Fx@l@TDLELKl@aAHIJEX@r@ZTDV@LENQVg@RkA@c@MeA?WFOPMf@Ej@Fj@@LGHKDM?_@_@iC?a@HKRIl@NT?FCHMFW?YEYGWQa@GYBiAIq@Gq@L_BHSHK|@WJETSLQZs@z@_A~@uA^U`@G\\CRB\\Tl@p@Th@JZ^bB`@lAHLXVLDP?LGFSKiDBo@d@wBVi@R]VYVE\\@`@Lh@Fh@CzAk@RSDQA]GYe@eAGWSiBAWBWBIJORK`@KPOPSTg@h@}Ad@o@F[E_@EGMKUGmAEYGMIMYKs@?a@J}@@_BD_@HQJMx@e@LKHKHWAo@UoAAWFmAH}@?w@C[YwAAc@HSNM|Ao@rA}@zAq@`@a@j@eAxAuBXQj@MXSR[b@gAFg@?YISOGaAHi@Xw@v@_@d@WRSFqARUHQJc@d@m@`A[VSFUBcAEU@WFULUPa@v@Y~@UrBc@dBI~@?l@P~ABt@N`HEjA]zAEp@@p@TrBCl@CTQb@k@dAg@jAU^KJYLK@k@A[Js@d@a@b@]RgBl@[FMAw@[]G]?m@D_@F]P[Vu@t@[TMF_@Do@E_@@q@P]PWZUZw@vAkAlAGJOj@IlAMd@OR{@p@a@d@sBpD]v@a@`Aa@n@]TODgBVk@Pe@^cBfBc@Rs@La@RSPm@|@wCpDS^Wp@QZML{@l@qBbCYd@k@lAIVCZBZNTr@`@RRHZANIZQPKDW@e@CaASU?I@YTKRQx@@\\VmALYRQLCL?v@P|@D\\GJEFKDM@OCa@COOYIGm@YMUCM@]JYr@uAx@kAt@}@jAeAPWbAkBj@s@bAiAz@oAj@m@VQlAc@VQ~@aA`Au@p@Q`AIv@MZORUV_@p@iB|AoCh@q@dAaANUNWH[N{AJ[^m@t@_Av@wA\\a@`@W`@In@Al@B^E`@Wl@u@\\[VQ\\K`@Eb@?R@dAZP@d@CRExAs@\\Yt@{@LG\\MjAATINOXo@d@kAl@_AHYBOCe@QiBCm@Fq@\\wADo@AyGEeBWuB@YHu@Tu@Lk@VcCTo@d@aA\\WJE`@G~@FP?VI\\U~@sANO`@SfAMj@U\\WjAsAXS`@UNENALBHFFL?^Ml@Uj@]b@q@RUJSPkChEc@XcAb@sA|@]PaA\\OJKNER?TDTNj@Jn@?p@OfC@ZR`B@VCV_@n@{@l@WbACv@OlABnAPl@LNNHbBBNBLFFJ@^GLg@x@i@|AMP[X}@XOJKPET?l@LhAFXp@fBDRCd@S\\_@Ps@PQ@}A]S?QDe@V]b@MR[fAKt@ErAF~CANILYDKGIKe@{@Yy@e@sB[gA[c@e@YUCU?WBUHUNQPq@`AiArAMV[^e@Zc@JQJKNMz@?r@Bb@PfAAfA@VVbADn@E`@KHSEe@SMAKDKFM\\^dDCh@m@LoAQ_@@MFOZLfBEl@QbASd@KLQBOAaAc@QAQ@QHc@v@ONMJOBOCg@c@]O[EMBKFGL?RHv@ARERGNe@h@{@h@WVGNDt@JLNFPFz@LdBf@f@PJNHPF`ADPJJJDl@I`@B^Tp@bALJNDNALIf@i@PGPCt@DNE`@Uv@[dAw@RITGRCtAARBPJLPJRZxB?VEX_@vAAR?RDNHJJBh@UnBm@h@IRDRJNNJPNbBFRJLLBLCzAmAd@Uf@Gf@?P@PFJNHPFTH`BDTHNJJJ@LG`@m@^YPER@RDPHNNJRLn@HRLN^VNPHTFX@\\UlDFb@FHh@NP@HKPsB?}ASkCQ{@[y@q@}@cA{@KOCQDa@t@{CFGJCf@Nl@ZtA~@r@p@`@h@rAxBd@rA\\fARdAPjANrB?f@AtBCd@QfBkAjJOlBChA?rBFrBNlBdAfKFzAC~@Iz@Mz@Sv@s@jBmAxBi@hAWt@Sv@Qx@O`BA`@?dAPfBVpAd@`BfBlFf@fBdA~Cr@pAz@fApBhBjAt@H?IL?FBFJLx@^lHvDvh@~XnElCbAd@pGhDbAb@nAr@`Ad@`GhDnBbAxCbBrWhNJJDPARGP_@t@Qh@]pAUtAoA`Ny@jJApBBNFLJFJBv@Hb@HBF?\\",
                  "resource_state": 3,
                  "summary_polyline": "ki{eFvqfiVsBmA`Feh@qg@iX`B}JeCcCqGjIq~@kf@cM{KeHeX`@_GdGkSeBiXtB}YuEkPwFyDeAzAe@pC~DfGc@bIOsGmCcEiD~@oBuEkFhBcBmDiEfAVuDiAuD}NnDaNiIlCyDD_CtJKv@wGhD]YyEzBo@g@uKxGmHpCGtEtI~AuLrHkAcAaIvEgH_EaDR_FpBuBg@sNxHqEtHgLoTpIiCzKNr[sB|Es\\`JyObYeMbGsMnPsAfDxAnD}DBu@bCx@{BbEEyAoD`AmChNoQzMoGhOwX|[yIzBeFKg[zAkIdU_LiHxK}HzEh@vM_BtBg@xGzDbCcF~GhArHaIfByAhLsDiJuC?_HbHd@nL_Cz@ZnEkDDy@hHwJLiCbIrNrIvN_EfAjDWlEnEiAfBxDlFkBfBtEfDaAzBvDKdFx@|@XgJmDsHhAgD`GfElEzOwBnYdBxXgGlSc@bGdHpW|HdJztBnhAgFxc@HnCvBdA"
                },
                "trainer": false,
                "commute": false,
                "manual": false,
                "private": false,
                "flagged": false,
                "gear_id": "b12345678987654321",
                "from_accepted_tag": false,
                "average_speed": 6.679,
                "max_speed": 18.5,
                "average_cadence": 78.5,
                "average_temp": 4,
                "average_watts": 185.5,
                "weighted_average_watts": 230,
                "kilojoules": 780.5,
                "device_watts": true,
                "has_heartrate": false,
                "max_watts": 743,
                "elev_high": 446.6,
                "elev_low": 17.2,
                "pr_count": 0,
                "total_photo_count": 2,
                "has_kudoed": false,
                "workout_type": 10,
                "suffer_score": null,
                "description": "",
                "calories": 870.2,
                "segment_efforts": [
                  {
                    "id": 12345678987654321,
                    "resource_state": 2,
                    "name": "Tunnel Rd.",
                    "activity": {
                      "id": 12345678987654321,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 12345678987654321,
                      "resource_state": 1
                    },
                    "elapsed_time": 2038,
                    "moving_time": 2038,
                    "start_date": "2018-02-16T14:56:25Z",
                    "start_date_local": "2018-02-16T06:56:25Z",
                    "distance": 9434.8,
                    "start_index": 211,
                    "end_index": 2246,
                    "average_cadence": 78.6,
                    "device_watts": true,
                    "average_watts": 237.6,
                    "segment": {
                      "id": 673683,
                      "resource_state": 2,
                      "name": "Tunnel Rd.",
                      "activity_type": "Ride",
                      "distance": 9220.7,
                      "average_grade": 4.2,
                      "maximum_grade": 25.8,
                      "elevation_high": 426.5,
                      "elevation_low": 43.4,
                      "start_latlng": [
                        37.8346153,
                        -122.2520872
                      ],
                      "end_latlng": [
                        37.8476261,
                        -122.2008944
                      ],
                      "climb_category": 3,
                      "city": "Oakland",
                      "state": "CA",
                      "country": "United States",
                      "private": false,
                      "hazardous": false,
                      "starred": false
                    },
                    "kom_rank": null,
                    "pr_rank": null,
                    "achievements": [],
                    "hidden": false
                  }
                ],
                "splits_metric": [
                  {
                    "distance": 1001.5,
                    "elapsed_time": 141,
                    "elevation_difference": 4.4,
                    "moving_time": 141,
                    "split": 1,
                    "average_speed": 7.1,
                    "pace_zone": 0
                  }
                ],
                "laps": [
                  {
                    "id": 4479306946,
                    "resource_state": 2,
                    "name": "Lap 1",
                    "activity": {
                      "id": 1410355832,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 134815,
                      "resource_state": 1
                    },
                    "elapsed_time": 1573,
                    "moving_time": 1569,
                    "start_date": "2018-02-16T14:52:54Z",
                    "start_date_local": "2018-02-16T06:52:54Z",
                    "distance": 8046.72,
                    "start_index": 0,
                    "end_index": 1570,
                    "total_elevation_gain": 276,
                    "average_speed": 5.12,
                    "max_speed": 9.5,
                    "average_cadence": 78.6,
                    "device_watts": true,
                    "average_watts": 233.1,
                    "lap_index": 1,
                    "split": 1
                  }
                ],
                "gear": {
                  "id": "b12345678987654321",
                  "primary": true,
                  "name": "Tarmac",
                  "resource_state": 2,
                  "distance": 32547610
                },
                "partner_brand_tag": null,
                "photos": {
                  "primary": {
                    "id": null,
                    "unique_id": "3FDGKL3-204E-4867-9E8D-89FC79EAAE17",
                    "urls": {
                      "100": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-128x96.jpg",
                      "600": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-768x576.jpg"
                    },
                    "source": 1
                  },
                  "use_primary_photo": true,
                  "count": 2
                },
                "highlighted_kudosers": [
                  {
                    "destination_url": "strava://athletes/12345678987654321",
                    "display_name": "Marianne V.",
                    "avatar_url": "https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345678987654321/12345678987654321/3/medium.jpg",
                    "show_name": true
                  }
                ],
                "hide_from_home": false,
                "device_name": "Garmin Edge 1030",
                "embed_token": "18e4615989b47dd4ff3dc711b0aa4502e4b311a9",
                "segment_leaderboard_opt_out": false,
                "leaderboard_opt_out": false
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      }
    },
    "/athlete/activities": {
      "get": {
        "operationId": "getLoggedInAthleteActivities",
        "summary": "List Athlete Activities",
        "description": "Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "description": "An epoch timestamp to use for filtering activities that have taken place before a certain time.",
            "type": "integer"
          },
          {
            "name": "after",
            "in": "query",
            "description": "An epoch timestamp to use for filtering activities that have taken place after a certain time.",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/perPage"
          }
        ],
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "The authenticated athlete's activities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "https://developers.strava.com/swagger/activity.json#/SummaryActivity"
              }
            },
            "examples": {
              "application/json": [
                    {
                        "resource_state": 2,
                        "athlete": {
                            "id": 134815,
                            "resource_state": 1
                        },
                        "name": "Happy Friday",
                        "distance": 24931.4,
                        "moving_time": 4500,
                        "elapsed_time": 4500,
                        "total_elevation_gain": 0,
                        "type": "Ride",
                        "sport_type": "MountainBikeRide",
                        "workout_type": null,
                        "id": 154504250376823,
                        "external_id": "garmin_push_12345678987654321",
                        "upload_id": 987654321234567891234,
                        "start_date": "2018-05-02T12:15:09Z",
                        "start_date_local": "2018-05-02T05:15:09Z",
                        "timezone": "(GMT-08:00) America/Los_Angeles",
                        "utc_offset": -25200,
                        "start_latlng": null,
                        "end_latlng": null,
                        "location_city": null,
                        "location_state": null,
                        "location_country": "United States",
                        "achievement_count": 0,
                        "kudos_count": 3,
                        "comment_count": 1,
                        "athlete_count": 1,
                        "photo_count": 0,
                        "map": {
                            "id": "a12345678987654321",
                            "summary_polyline": null,
                            "resource_state": 2
                        },
                        "trainer": true,
                        "commute": false,
                        "manual": false,
                        "private": false,
                        "flagged": false,
                        "gear_id": "b12345678987654321",
                        "from_accepted_tag": false,
                        "average_speed": 5.54,
                        "max_speed": 11,
                        "average_cadence": 67.1,
                        "average_watts": 175.3,
                        "weighted_average_watts": 210,
                        "kilojoules": 788.7,
                        "device_watts": true,
                        "has_heartrate": true,
                        "average_heartrate": 140.3,
                        "max_heartrate": 178,
                        "max_watts": 406,
                        "pr_count": 0,
                        "total_photo_count": 1,
                        "has_kudoed": false,
                        "suffer_score": 82
                    },
                    {
                        "resource_state": 2,
                        "athlete": {
                            "id": 167560,
                            "resource_state": 1
                        },
                        "name": "Bondcliff",
                        "distance": 23676.5,
                        "moving_time": 5400,
                        "elapsed_time": 5400,
                        "total_elevation_gain": 0,
                        "type": "Ride",
                        "sport_type": "MountainBikeRide",
                        "workout_type": null,
                        "id": 1234567809,
                        "external_id": "garmin_push_12345678987654321",
                        "upload_id": 1234567819,
                        "start_date": "2018-04-30T12:35:51Z",
                        "start_date_local": "2018-04-30T05:35:51Z",
                        "timezone": "(GMT-08:00) America/Los_Angeles",
                        "utc_offset": -25200,
                        "start_latlng": null,
                        "end_latlng": null,
                        "location_city": null,
                        "location_state": null,
                        "location_country": "United States",
                        "achievement_count": 0,
                        "kudos_count": 4,
                        "comment_count": 0,
                        "athlete_count": 1,
                        "photo_count": 0,
                        "map": {
                            "id": "a12345689",
                            "summary_polyline": null,
                            "resource_state": 2
                        },
                        "trainer": true,
                        "commute": false,
                        "manual": false,
                        "private": false,
                        "flagged": false,
                        "gear_id": "b12345678912343",
                        "from_accepted_tag": false,
                        "average_speed": 4.385,
                        "max_speed": 8.8,
                        "average_cadence": 69.8,
                        "average_watts": 200,
                        "weighted_average_watts": 214,
                        "kilojoules": 1080,
                        "device_watts": true,
                        "has_heartrate": true,
                        "average_heartrate": 152.4,
                        "max_heartrate": 183,
                        "max_watts": 403,
                        "pr_count": 0,
                        "total_photo_count": 1,
                        "has_kudoed": false,
                        "suffer_score": 162
                    }
                  ]
                }
              },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      }
    },
    "/activities/{id}/comments": {
      "get": {
        "operationId": "getCommentsByActivityId",
        "summary": "List Activity Comments",
        "description": "Returns the comments on the given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the activity.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Deprecated. Prefer to use after_cursor.",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Deprecated. Prefer to use page_size.",
            "type": "integer",
            "default": 30
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page. Defaults to 30.",
            "type": "integer",
            "default": 30
          },
          {
            "name": "after_cursor",
            "in": "query",
            "description": "Cursor of the last item in the previous page of results, used to request the subsequent page of results.  When omitted, the first page of results is fetched.",
            "type": "string"
          }
        ],
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Comments.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "https://developers.strava.com/swagger/comment.json#/Comment"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 12345678987654321,
                  "activity_id": 12345678987654321,
                  "post_id": null,
                  "resource_state": 2,
                  "text": "Good job and keep the cat pictures coming!",
                  "mentions_metadata": null,
                  "created_at": "2018-02-08T19:25:39Z",
                  "athlete": {
                    "firstname": "Peter",
                    "lastname": "S"
                  },
                  "cursor": "abc123%20"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "https://developers.strava.com/swagger/fault.json#/Fault"
            }
          }
        }
      }
    }
  }
}
